body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    text-align:center;
}
.titulo{
    color:#facc15;
    margin: 0px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-size: 38px;
    text-align: center;
}
.titulo2{
    color:rgb(255, 255, 255);
    margin: 0px;
    text-align: center;
}
.titulo3{
    color:#4c00ff;
    margin: 0px;
    -webkit-text-stroke: 1px white;
    text-align: center;
}
.descricao{
    color:red;
}
.box{
    background:rgba(255,255,255,.05);
    padding:40px;
    border-radius:20px;
    width:90%;
    max-width:700px;
}

.linkdiscord{
    display:inline-block;
    margin-top:20px;
    padding:15px 30px;
    background:#5865F2;
    color:white;
    text-decoration:none;
    border-radius:12px;
}
nav{
         display:flex;
         justify-content:center;
        gap:20px;
        padding:20px;
        background:rgba(255,255,2   55,.05);
        backdrop-filter:blur(10px);
        }
        .link{
        color:white;
        text-decoration:none;
        font-weight:bold;
        padding:10px 15px;
        background:#161e31;
        border-radius:10px;
        border:2px solid white;
        }
        footer {
           text-align: center;
        }